<nav class="navbar">
  <div class="logo" (click)="navigateTo('/')">EduSelect+</div>
  <ul class="nav-links">
    <li><a (click)="navigateTo('/')">Acasă</a></li>
    <li class="dropdown">
      <a (click)="navigateTo('/recomandari')">Recomandări ▾</a>
      <ul class="dropdown-menu">
        <li>
          <a (click)="navigateTo('/recomandari-liceu')">Recomandări Licee</a>
        </li>
        <li><a (click)="navigateTo('/statistici-bac')">Statistici BAC</a></li>
      </ul>
    </li>
    <li><a (click)="navigateTo('/contact')">Contact</a></li>
  </ul>
</nav>
