::ng-deep .p-paginator .p-paginator-page {
  padding: 0.25rem 0.5rem !important;
  font-size: 0.85rem !important;
  min-width: 1.75rem !important;
  height: 1.75rem !important;
  line-height: 1.5rem !important;
  margin: 0 0.15rem !important;
  border-radius: 6px !important;
}

::ng-deep .p-paginator .p-paginator-page.p-highlight {
  background-color: #6b21a8 !important;
  color: white !important;
  border-color: transparent !important;
}

th.p-sortable-column.p-highlight {
  background-color: #f9fafb !important;
}

th {
  background-color: #f9fafb;
  color: #1f2937;
  font-weight: 500;
}

.p-sortable-column-icon {
  color: #6b7280 !important;
}
